@use 'variables' as *;
@use 'typography' as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    color: $primarycolor-black;
    font-family: 'Mplus';
    font-weight: 400;
    display:flex;
    justify-content: center;
     max-width: 1278px;
     max-width: 1278px;
    margin: 0 auto;
    border: 3px solid $primary-color-ligh-grey;
   
    
    
}

a {
    text-decoration: none;
}

ul{
   list-style: none; 
}

#root{
    width: 100%;
    max-width: 1278px;
}

.pages--background {
    background-color: #F6E8D9;

}