@use 'variables' as *;


@mixin button-field {
    margin-bottom: 10%;
    border: .1875rem solid;
    border-radius: 1.75rem;
    font-size: 1.25rem;
    padding: 16px;
    background-color:$secondary-color-pink-pastel;
    color: $secondary-light-grey;
    font-family: "Orbitron";

    &:hover {
        background-color: $secondary-color-green-pastel;
    }

}

@mixin score {
    background-color: $primary-color-green;
    display: flex;
    height: 2.9375rem;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-radius: .125rem;
    font-size: 1.25rem;
    color: $primary-color-ligh-grey;
    margin-bottom: 5%;

}