$primarycolor-black: #000000 ;
$primarycolor-white: #FFFFFF;
$primarycolor-silver: #AFAFAF;
$primary-color-ligh-grey: #F8F8F8;
$primary-color-pink-pastel: #FFE5E5;
$primary-color-green: #9ABFA4;



$secondary-color-green-pastel: #F4FDE9;
$secondary-light-grey:rgba(73, 73, 73, 0.556);
$secondary-color-light-beige: #E6D4BA;




