$primarycolor-black: #000000 ;
$primarycolor-white: #FFFFFF;
$primarycolor-silver: #AFAFAF;
$primary-color-ligh-grey: #F8F8F8;
$primary-color-pink-pastel: #F1A3F1;
$primary-color-light-green: #B6DF6A;


$secondary-color-green-pastel: #CDDDBA;
$secondary-light-grey: #EDEAE8;

$secondary-color-blue-pastel: #BACCDD;
$secondary-color-light-beige: #E6D4BA;




