.welcome{
    font-family: 'VT323';
    font-size: 1.875rem;
}

.home-page__article{
    font-size: 0.8rem;
    line-height: 1.5625rem;
    margin-left: 3.8125rem;
    padding: 2rem;
    border: 7px solid white ;
    border-right: unset;
    margin-top: 10.375rem;
    
    
}

    
    
