@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;

.shopping-list--display{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 6.75rem;
    margin-top: 11.25rem;
    width: 100%;
    background-color:$primarycolor-white;
    padding-bottom: 1rem;
    
}


.shopping-list__items{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.dropdown-toggle{
    @include button-field;
   
    
}


.dropdown-menu {
    overflow-y: auto;
    background-image: url(../../Assets01//Images/ingredients-background.png);
    background-size: cover;
    max-height: 27.5625rem;
    margin-bottom: 32px;
    max-width: 22.125rem;
    padding: 10rem 5rem 5rem 5rem;
    list-style: none; 

    &--:hover{
        background-color: #F6E8D9;
    }
    
  }
.input{
    margin-right: .875rem;
    margin-left: .25rem;
    
    
}
  .list{
    margin-bottom: .9375rem;
    background-color: $primarycolor-white;
    height: 1.875rem;
    font-size: 1.125rem;
    height: 2.5rem;
    display:flex;
    align-items: center;

    &:hover{
        background-color: #F6E8D9;
    }
       
  }

  

#navbar {
    background-color: #333; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    transition: top 0.3s; 
  }
  
  /* Style the navbar links */
  #navbar li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: .9375rem;
    text-decoration: none;
  }
  
  #navbar :hover {
    background-color: #ddd;
    color: black;
  }


.score{
  @include score;


  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 22.125rem;
    

    &--definition{
      font-size: .5625rem;
      padding-bottom: .1875rem;
      box-shadow: .125rem .125rem $primarycolor-silver;
      
    }

    &--average{
      font-size: .5625rem;
    }

  }

}

  .radial__container{
    display: flex;
    flex-direction: column;
    align-items: center;

    &--score{
      @include score;
      font-family:'VT323'; 
      font-size: 1.875rem; 
    }
}

.recipes__button{
    @include button-field;
}

.save__button{
  
  border-radius: 5%;
  width: 100%;
  background-color: $primary-color-green;
  display: flex;
  height: 2.9375rem;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: $primary-color-ligh-grey;
  padding: 1rem;
  
 
}

.healthy-result{
  height: 28.265vh;
}

