@use '../../styles/partials/variables' as *;

.header{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 15px;
    border: 5px solid #F8F8F8;
    background-color: #AFAFAF;
    height: 52px;
    padding-right: 50px;


    &__logo{
        position:absolute;
    }
  
}
