@use '../../Styles/partials/variables' as *;



.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #9ABFA4;
  border: 3px solid #F8F8F8;
  border-radius: 50%;
  justify-content: space-between;
  width: 75%;
  margin-left: 10%;
  margin-top: 82px;
  height: 149px;



  &__items {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 13px;
    gap: 50px;

  }

  &__icons {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding-right: 32px;
    width: 54px;


    &__container {
      display: flex;
      gap: 23px;
      align-items: center;
    }




    &--display {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
  }

  &__social {
    width: 146px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 136px;
  }


  &__copy-right {
    margin: 1rem;
    font-size: 0.8rem;
  }


}






