@use '../../Styles/partials/variables' as *;



.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .75rem;
  color: $primarycolor-white;
  background-color: $primary-color-green;
  border: .1875rem solid $primary-color-ligh-grey;
  border-radius: 50%;
  justify-content: space-between;
  width: 75%;
  margin-left: 10%;
  margin-top: 5.125rem;
  height: 9.3125rem;



  &__items {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: .8125rem;
    gap: 3.125rem;

  }

  &__icons {
    display: flex;
    gap: .625rem;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
    width: 3.375rem;


    &__container {
      display: flex;
      gap: 1.4375rem;
      align-items: center;
    }




    &--display {
      display: flex;
      align-items: center;
      margin-bottom: .3125rem;
    }
  }

  &__social {
    width: 9.125rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8.5rem;
  }


  &__copy-right {
    margin: 1rem;
    font-size: .8rem;
  }

  &__email{
    color: $primarycolor-white;
  }


}






