.page--layout{
    display: flex;
}


.recipe__items__title{
    width: 440px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    margin-left: 11%;
    padding-bottom: 5px;
    font-size: 70px;
    padding-top: 86px;
    

}
