.logged{

    &--display{
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    }

&__avatar{
    background-image: url("../../Assets01//Images/loggin-pic.png");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    border-radius: 50%;
    background-position-y: -15px;
    
}

}