.logged{

   
    

&__avatar{
    background-image: url("../../Assets01//Images/loggin-pic.png");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    border-radius: 50%;
    background-position-y: -15px;
    margin-left: 559px;
    
}

&__avatar2{
    background-image: url("../../Assets01//Images/loggin-pic.png");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    border-radius: 50%;
    background-position-y: -15px;

}
&__avatar{
    background-image: url("../../Assets01//Images/loggin-pic.png");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    border-radius: 50%;
    background-position-y: -15px;

}

}


