@use '../../Styles/partials/variables' as *;


.loggin {
        background-image: url("../../Assets01/Images/loggin-pic.png");
        width: 3rem;
        height: 3rem;
        background-size: cover;
        border-radius: 50%;
        background-position-y: -15px;
        border: 4px solid $primary-color-ligh-grey;
}