@use '../../Styles/partials/variables' as *;
@use '../../Styles/partials/mixins' as *;



.input-ingredients{
    margin-top: 11.5625rem;
    margin-left: 50.875rem;
    margin-bottom: 8.125rem;
    display: flex;
    align-items: center;
    gap: .9375rem;

    .placeholder{
        border: .1875rem solid $primary-color-green;
        border-radius: .25rem;
        padding: .625rem;
    }
}

.button-search{
    border: .1875rem solid;
    border-radius: 1.75rem;
    font-size: .9375rem;
    background-color:$secondary-color-pink-pastel;
    color: rgba(73, 73, 73, 0.556);
    font-family: "Orbitron";
    height: 2.5rem;
    padding: .4375rem;

    &:hover{
        background-color: $secondary-color-green-pastel;
    }

}